#intro .jumbotron {
    height: 35vh;
    background: rgb(160, 76, 76);
}

h1,h2,h3{
    font-family: 'Spartan','Noto Sans TC' ;
}

p,a,li,ul,h4{
    font-family:'Open Sans, sans serif';
}

p{
    font-size: 17px;
}

img{
    max-width: 100%;
}

section{
    padding: 40px 0px;
}

#intro{
    padding: 0px 0px;
}

#service{
    padding: 80px 0px;
    background: rgb(215, 216, 216);
    
}

#second h3{
    margin-bottom: 40px;
}

#service h3{
    margin-bottom: 40px;
    
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
  }

#contact{
    margin-bottom: 50px;
}

#contact .jumbotron{
    background: rgb(215, 216, 216);
    height: 35vh;
}

#service .outer{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
}

#service p{
    padding: 15px;
}

.upper{
    position: relative;
    text-align: center;
}

.descri{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.descri h4{
    line-height: 2;
    font-size: xx-large;
    color: black;
}

.lower p{
    color: black;
}

#service img{
    opacity: 0.6;
}

#contact h5{
    line-height: 2;
}

@media only screen and (max-width:993px){

    .lead{
        font-size:14px;
    }

    #service .col-md-4{
        padding: 3px;
        text-align: center;
    }


    .descri h4{
        font-size: 23px;
    }

    #service .outer{
        margin-top: 25px;
    }
        
}

